<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- For date picker -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(document).ready(function () {

    //Setting the date picker
    $( "#datepicker" ).datepicker(
        { changeYear: true,
            changeMonth: true,
            autoSize: true,
            beforeShow: function(){
                $(".ui-datepicker").css('font-size', 5)
            }}

    );

//User enter only numbers in card number and cvv
    $("#cardnumber").keydown(function(e)
    {
        if (e.shiftKey)
            e.preventDefault();
        else
        {
            var nKeyCode = e.keyCode;
            //Ignore Backspace and Tab keys
            if (nKeyCode == 8 || nKeyCode == 9)
                return;
            if (nKeyCode < 95)
            {
                if (nKeyCode < 48 || nKeyCode > 57)
                    e.preventDefault();
            }
            else
            {
                if (nKeyCode < 96 || nKeyCode > 105)
                    e.preventDefault();
            }
        }
    });

    $("#cvv").keydown(function(e)
    {
        if (e.shiftKey)
            e.preventDefault();
        else
        {
            var nKeyCode = e.keyCode;
            //Ignore Backspace and Tab keys
            if (nKeyCode == 8 || nKeyCode == 9)
                return;
            if (nKeyCode < 95)
            {
                if (nKeyCode < 48 || nKeyCode > 57)
                    e.preventDefault();
            }
            else
            {
                if (nKeyCode < 96 || nKeyCode > 105)
                    e.preventDefault();
            }
        }
    });


//Save button click
    $("#btnSubmit").click(function(){

        //Entered button click
        console.log("Save button clicked");


//Retrieve the data
        var cardname = document.getElementById("cardname").value;
        var cardnumber = document.getElementById("cardnumber").value;
        var carddate = $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
        var cvv = document.getElementById("cvv").value;

        if(cardname.trim() === "" || cardname.trim() === "" || carddate.trim() === "" || cvv.trim() === "")
        {
            alert("Please fill out all the details");
            return false;
        }

        if(cardnumber.length < 16)
        {
            alert("Please enter a valid 16 digit card number");
            $('#cardnumber').val('');
            return false;
        }

        var query = {"carname":String(cardname),"cardnumber":String(cardnumber),"carddate":String(carddate),"cvv":String(cvv)};

// * Create request to be sent to server
        var req = new XMLHttpRequest();

        //req.addEventListener("progress", updateProgress);
        //req.addEventListener("timeout", timeoutOccured);
        //req.addEventListener("error", transferFailed);
        //req.addEventListener("abort", transferCanceled);
        //req.addEventListener("loadend", loadEnd);

        console.log("Reached the req open " + query);

        var port = <%- JSON.stringify(port) %>
        console.log("port in add ejs " + port);
//Set the request URL
        if(port?port:3000);
       // req.open("GET", "http://localhost:3000/add/save?params="+JSON.stringify(query), true);
        req.open("GET", "http://localhost:"+port+"/add/save?params="+JSON.stringify(query), true);

// * Send the server request
        req.send(null);

        req.responseType = 'text';

        req.onreadystatechange = function() {

            if (req.status === 200 && req.readyState == 4) {
                var serverstatus = document.getElementById("serverstatus");
                console.log("response " +req.responseText);
                if(req.responseText === "1")
                {
                    serverstatus.innerHTML = "Card details saved." ;
                    $('#cardname').val('');
                    $('#cardnumber').val('');
                    $('#datepicker').val('');
                    $('#cvv').val('');
                }
                else
                {
                    serverstatus.innerHTML = "Unable to save the card details, please try again." ;
                }
            }

        };




    }); //btnSubmit


    });
    </script>
</head>
<body>
<h1><%= title %></h1>

<% include pages/nav.ejs%>
<p>Enter Card Details</p>

<div class="container">
    <fieldset style="height: 80%;">
        <table style="width:100%;height: 80%;">
            <tr>
                <td style="width: 20%">
                    <p> Card Name :</p>
                </td>
                <td >
                    <input name="cardname" id="cardname"   type="text"  placeholder="Card Name" required>
                </td>
            </tr>
               <td>
               <p>Card Number :</p>
               </td>
            <td>
                <input name="cardnumber" id="cardnumber" maxlength="16"  placeholder="Card Number" required>
            </td>
                   </tr>
            <tr>
                <td><p>Expiry Date: </p></td>
                <td>
                    <input type="text" id="datepicker" readonly="readonly">
                </td>
            </tr>
            <tr>
                <td><p>CVV :</p></td>
                <td><input name="cvv" id="cvv" maxlength="4"   placeholder="CVV" required>
                </td>


            </tr>
            <tr>
               <td><button id="btnSubmit">Save</button>
               </td>
                <td>
                    <p id="serverstatus"></p>
                </td>
            </tr>
            </table>

    </fieldset>
</div>

</body>
</html>
