<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script>


        $(document).ready(function() {
            var display_data = <%- JSON.stringify(data) %>

            console.log(display_data) ;
            hideAllDivContents();
            $("#grid").show();

            $(function() {

                $("#grid").jsGrid({
                    width: "100%",
                    height: "50vh",
                    filtering: false,
                    editing: true,
                    sorting: true,
                    paging: true,
                    data: display_data,
                    fields: [
                        { name: "Cardname", type: "text",align:"left", width: 100 },
                        { name: "Cardnumber", type: "number",align:"left", width: 50 },
                        { name: "Expirydate", type: "text", align:"left",width: 100 },
                        { name: "CVV", type: "number",align:"left", width: 50 }
                    ]
                });
            });

            function hideAllDivContents() {
                $('.contents').hide();
            }



        });

    </script>
</head>
<body>
<h1><%= title %></h1>
<% include pages/nav.ejs%>
<p>Display Card Details</p>
<div id="grid"></div>
</body>
</html>
