body {
  padding: 20px;
  font: 3vh "Lucida Grande", Helvetica, Arial, sans-serif;
  border-style: solid;
  border-color: lightskyblue;
  margin: 5px;
  padding-bottom: 12vh;
  height: 80vh;

}



a {
  color: #00B7FF;
}
h1 {
  text-align: center;
}
html {
  height: 100vh;
}
ui-datepicker {
  background: #333;
  border: 1px solid #555;
  color: #EEE;
}

button, input
{
  font: 3vh "Lucida Grande", Helvetica, Arial, sans-serif;
}